<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
    <a class="navbar-brand" href="/"></a>
    <ul>

        <li><a href="/scrape" id="scrape-button"> Scape Me Now</a></li>
        <li><a href="/saved" class="save"> Save Me Now</a></li>
        <li><a href="/delete" class="delete"> Delete an Article Now</a></li>
        <li><a href="/note" class="save-note"> Leave a Note Now </a></li>
    </ul>
          {{!-- <li><button type="submit" id="scape-button>Scape Me Now</button></li>
          <button type="submit" class="save">Save Me Now</button>
          <button type="submit" class="delete">Leave Me a Note Now</button>
          <button type="submit" class="save-note">Delete an Article Now</button> --}}
</nav>

<div class="container">
    <h1>Mongo Scrape Latest News from <i>thesource.com</i></h1>
    <div class="dispaly-headlines">
        {{#each db_title}}
       
        <div class="row">
            <div class="col-8">

                <h3>{{this.title}}</h3>
                <h3>{{this.url}}</h3>
            </div>
        </div>
        
        {{/each}}

    </div>
</div>

